.container
  %h1 Listing messages

  %table
    %thead
      %tr
        %th User
        %th Content
        %th
        %th
        %th

    %tbody
      - @messages.each do |message|
        %tr
          %td= message.user
          %td= message.content
          %td= link_to 'Show', message, class: 'btn btn-md btn-success'
          %td= link_to 'Edit', edit_message_path(message), class: 'btn btn-md btn-warning'
          %td= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-md btn-danger'

  %br

  = link_to 'New Message', new_message_path, class: 'btn btn-lg btn-info btn-block'
