
= form_for @user do |f|
  = errors_for @user

  .row
    .col-md-4
    .col-md-4
      .form-group
        = f.label :first_name
        = f.text_field :first_name, placeholder: 'First Name', class: 'form-control'
      .form-group
        = f.label :last_name
        = f.text_field :last_name, placeholder: 'Last Name', class: 'form-control'

      = f.fields_for :profile, (Profile.new if @user.profile_nil?)  do |p|
        .row
        .row
          %h3.profile Some roomies are allergic to pets! With that being said, do you have one? and if so, what kind?:
          .col-md-6
            .form-group
              = p.label :pet
              = p.check_box :pet, class: 'form-control'
          .col-md-6
            .form-group
              = p.label :pet_type
              = p.text_field :pet_type, placeholder: "#{@user.profile.pet_type unless @user.profile_nil?}", class: 'form-control'
        .row
        .row
          %h3.profile Some roomies like to rock out, but some may just want peace and quiet. What is your typical noise level:
          .col-md-6
            .form-group
              = p.label :quiet
              = p.check_box :quiet, class: 'form-control'
          .col-md-6
            .form-group
              = p.label :noisy
              = p.check_box :noisy, class: 'form-control'
        .row
        .row
          %h3.profile What type of organized roomie are you?:
          .col-md-4
            .form-group
              = p.label :clean
              = p.check_box :clean, class: 'form-control'
          .col-md-4
            .form-group
              = p.label :messy
              = p.check_box :messy, class: 'form-control'
          .col-md-4
            .form-group
              = p.label :kind_of_clean
              = p.check_box :kind_of_clean, class: 'form-control'
        .row
        .row
          %h3.profile Don't be a party pooper to your roomie. Do you like to:
          .col-md-4
            .form-group
              = p.label :party
              = p.check_box :party, class: 'form-control'
          .col-md-4
            .form-group
              = p.label :drink
              = p.check_box :drink, class: 'form-control'
          .col-md-4
            .form-group
              = p.label :smoke
              = p.check_box :smoke, class: 'form-control'
        .row
        .row
          %h3.profile Shhh! You or a roomie may have some studying to do. So,:
          .col-md-6
            = p.label 'Do you study often?'
            = p.check_box :study, class: 'form-control'
          .col-md-6
            = p.label 'Whats your major'
            = p.text_field :major, class: 'form-control'
            = p.hidden_field :user_id, value: current_user.id
        .actions
          = f.submit 'Save', class: 'btn btn-success btn-lg'
    .col-md-4
