%h1 User Profile page

%p
  %b User:
  = @user.full_name
- unless @user.profile.nil?
  %p
    %b Pet:
    = @user.profile.pet
  %p
    %b Pet type:
    = @user.profile.pet_type
  %p
    %b Quiet:
    = @user.profile.quiet
  %p
    %b Clean:
    = @user.profile.clean
  %p
    %b Messy:
    = @user.profile.messy
  %p
    %b Kind of clean:
    = @user.profile.kind_of_clean
  %p
    %b Party:
    = @user.profile.party
  %p
    %b Drink:
    = @user.profile.drink
  %p
    %b Smoke:
    = @user.profile.smoke
  %p
    %b Study:
    = @user.profile.study
  %p
    %b Major:
    = @user.profile.major


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', :back
