!!!
%html
  %head
    %title Team Reaper
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body#myPage{style: 'margin-top: 50px'}
    %header
      = render template: 'layouts/navigation'
    %main{role: "main"}
      = display_flash
      = yield
