.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-center
        - if current_user
          %li= link_to 'Home', root_path
          %li= link_to 'Profile', user_path(current_user)
          %li= link_to 'Roomate Matches', matches_path
          %li= link_to 'Inbox',messages_path
          - if current_user.has_role?(:admin)
            %li= link_to 'Users', users_path
            %li= link_to 'Roles', roles_path
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Home', root_path
          %li= link_to 'Sign in', user_session_path
